/*
  suggested color scheme:
  Dark Blue: #1d262e
  Light Blue: #d9e5ec
  Light Grey: #e8e7ea
  Deep Red: #9e222c

*/

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

@font-face{
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Light.ttf');
}
@font-face{
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Oblique.otf');
  font-style: italic;
}
@font-face{
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Heavy.otf');
  font-weight: 300;
}
@font-face{
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Medium.otf');
  font-weight: 200;
}
@font-face{
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-MediumOblique.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face{
  font-family: 'Didot';
  src: url('./assets/fonts/Didot-Regular.ttf');
}
@font-face{
  font-family: 'Didot';
  src: url('./assets/fonts/Didot-Bold-Italic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: 'Didot';
  src: url('./assets/fonts/Didot-Medium.ttf');
  font-weight: 200;
}
/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f4f4f4;
  margin: 0;
  color:#fff;
}
.App {
  /* display: flex;
  flex-direction: column; */
  background-color: #ffffff;
  font-family: "Avenir";
}
.pages{
  max-width:fill; /* initially 1400px */
  padding: auto 20px;
  margin: 0 auto;
}
/* //////////////////// Navbar   ////////////////// */
.navbar {
  background-color: #d9e5ec;  /* Dark background color */
  /* padding: 10px 10px;      Padding for spacing */
  
}

.custom-navbar .custom-logo {
  color: #ffffff;             /* White text color for logo */
  font-size: 1.75rem;      /* Larger font size for logo */
  /* font-weight: bold;       Bold font weight */
  margin-left: 3rem;
}

.navbar .container-fluid .collapse {
  color:#1d262e;             /* White text color for nav links */
  margin-right: 4rem;     /* Spacing between links */
  font-size: 1.5rem;      /* Larger font size for nav links */
  
}

.navbar .container-fluid .collapse:hover {
  color:#9e222c;         /* Light red color on hover */
  text-decoration: none;  /* Remove underline on hover */
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #d9e5ec;
  color: #1d262e;
}

/* //////////////////// Home Page ////////////////// */
/* //////// Hero Section //////// */
.hero {
  width: 100%;
  height: auto;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  /* padding: 20px; */
  background-image: url('./assets/images/backdrop.png');
  background-size: cover;
  background-position: center;
}
.hero .box {
  background-color: #9694946c;
  padding: 4% 1%;
  border: 1px solid #ffffff;
  margin: 25% auto;
  width: 100%;
  /* opacity: 0.1; */
}
/*f8fbfd*/
.hero h1 {
  font-size: 3.2em;
  font-weight: 300;
}
.hero p {
  font-size: 1.2em;
  margin: 15px auto 25px;
  font-weight: 200;
}
.hero .shop-now {
  color: #ffffff;
  text-align: center;
  padding: 10px 50px;
  font-size: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border: #ffffff solid 2px;
  border-radius: 0px;
  font-style: italic;
  font-weight: 200;
}
.hero .shop-now:hover {
  text-align: center;
  font-size: 1em;
  background-color: #ffffff;
  color: #1d262e;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* //////// featured/Top Picks //////// */
.featured-products {
  color: #1d262e;
  text-align: center;
  margin-top: 2rem;
  padding: 5%;
  border-radius: 18px;  
}

.featured-products .featured-products-heading{
  font-size: 2.2em;
  font-weight: 200;
}
.featured-products .featured-products-line{
  border-top: 2px solid #1d262e;
  width: 3.2%;
}
.featured-products .see-more {
  font-style: italic;
  text-align: center;
  padding: 10px 60px;
  font-size: 1em;
  background-color: transparent;
  color:#9e222c;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border: #9e222c solid 2px;
}
.featured-products .see-more:hover {
  background-color: #9e222c;
  color: #ffffff;
  cursor: pointer;
}
/*/////////////////// Product Card /////////////////*/
.preview-product-card {
  margin: auto auto 40px;
}
.preview-product-image-card {
  /* border: 5px solid #ffffff; */
  display: grid;
  align-items: center; /* Vertically center */
  justify-content: center;
  text-align: center;
  background-color: #f3f2f2;
  width: 350px;
  height: 400px;
  margin: 20px auto 30px; 
  /* padding: 20px auto 30px; */
  border-radius: 20px;
  box-shadow: 10px 5px 5px #85091341;
}
.preview-product-card  .Title {
  margin: auto;
  font-size: 1.6em; 
}
.preview-product-card  p {
  /* font-family: 'Didot';
  font-weight: bold; */
  font-style: italic;
  color:#9e222c;
  font-size: 1em;
}
.painting-card-images {
  width: auto;
  height: 240px;
  width: 320px;
  /* overflow: hidden;
  border-radius: 10px; */
}







/* //////// About me preview Section //////// */
.about-me {
  text-align: center;
  margin-top: 2rem;
  padding: 50px;
  border-radius: 18px;  
}
.Aboutme-quote{
  font-size: 1.5em;
  margin-bottom: 1rem;
}
.artist-picture {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1.5rem auto;
}

.description {
  text-align: left;
}

.description h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.about-me .learn-more{
  text-align: center;
  padding: 8px 20px 10px 20px;
  font-size: 1em;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.about-me .learn-more:hover{
  text-align: center;
  padding: 8px 20px 10px 20px;
  font-size: 1em;
  background-color: #1d262e;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
/* .product-list {
  display: inline-block;
  gap: 20px;
} */


/* width="320"  height="240" */
/* Inventory Card */
.inventory-delete {
  color: #e71919;
}
.inventory-delete:hover {
  color: #ffffff;
  background-color: #f05959;
  border-color: #ffffff;
  cursor: pointer;
}
.inventory-card{
  color: #333;
}
.inventory-card .inventory-card-image{
  width: 400px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  overflow: hidden;
  position: relative;
  border: 1px solid #ffffff; /* Optional border for visual clarity */
  border-radius: 8px; /* Optional rounded corners */
}
.inventory-card .inventory-card-image img{
    width: 100%;
    height: 100%;
    top: 0 !important;
    left: 0;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    position: absolute;
}

