/*
  suggested color scheme:
  Dark Blue: #1d262e
  Light Blue: #d9e5ec
  Light Grey: #e8e7ea
  Deep Red: #9e222c

*/

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

@font-face{
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Light.ttf');
}
@font-face{
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Oblique.otf');
  font-style: italic;
}
@font-face{
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Heavy.otf');
  font-weight: 300;
}
@font-face{
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Medium.otf');
  font-weight: 200;
}
@font-face{
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-MediumOblique.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face{
  font-family: 'Didot';
  src: url('./assets/fonts/Didot-Regular.ttf');
}
@font-face{
  font-family: 'Didot';
  src: url('./assets/fonts/Didot-Bold-Italic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: 'Didot';
  src: url('./assets/fonts/Didot-Medium.ttf');
  font-weight: 200;
}
/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f4f4f4;
  margin: 0;
  color:#fff;
}
.App {
  /* display: flex;
  flex-direction: column; */
  background-color: #ffffff;
  font-family: "Avenir";
}
.pages{
  max-width:100%; /* initially 1400px */
  padding: auto 20px;
  margin: 0 auto;
  min-height: 55.5vh;
}
/* //////////////////// Navbar   ////////////////// */
.navbar {
  background-color: #fefefe;
  background-image: linear-gradient(to bottom, #fefefe 60%, #fce7df );
  /* padding: 10px 10px;      Padding for spacing */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.navbar .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  /* Dark background color */
  /* padding: 10px 10px;      Padding for spacing */
  
}
.navbar .customlogo {
  color: #ffffff;             /* White text color for logo */
  width: 25%;      
  margin: 1% 0 0;
}
/* .navbar .navlinks-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} */
.navlinks-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navitem {
  margin: 0 25%; /* Adjust the spacing between navigation links */
  text-decoration: none; /* Remove underline from links */
  font-size: 1.8rem;
  color:#1d262e; 
}
.navbar  .navlink {
  color:#1d262e;             /* White text color for nav links */
  /* margin-right: 4rem;     Spacing between links */
       /* Larger font size for nav links */
  font-size: 1.6rem;
}
.navbar .navlink:hover {
  color:#9e222c;         /* Light red color on hover */
  text-decoration: none;  /* Remove underline on hover */
}
.navbar .navlink.active {
  color:#9e222c;         /* Light red color when active */
  font-weight: 200;
}

/* //////////////////// Footer ////////////////// */
.footer {
  background-color: #f8e4dc;
  padding: 20px 0;
  text-align: left;
}

.footer-content {
  margin: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer-icons {
  display: flex;
}

.footer-icons a {
  margin: 10px; /* Adjust as needed */
}

.footer-icons img {
  width: 50px; /* Adjust size of icons as needed */
}
/* //////////////////// Home Page ////////////////// */
/* //////// Hero Section //////// */

.hero {
  border-top: #ffffff 4px solid;
  border-bottom: #ffffff 4px solid;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  /* padding: 20px; */
  background-image: url('./assets/images/backdrop.png');
  background-size: cover;
  background-position: 50% 15%;;
}
.hero .box {
  background-color: #ffffff2c;
  backdrop-filter: blur(20px);
  padding: 8% 100px;
  border: 4px solid #ffffff77;
  margin: 0% auto;
  /* width: 80%; */
  /* opacity: 0.1; */
}
/*f8fbfd*/
.hero h1 {
  font-size: 3.2em;
  font-weight: 300;
}
.hero p {
  font-size: 1.2em;
  margin: 15px auto 25px;
  font-weight: 200;
}
.hero .shop-now {
  color: #ffffff;
  font-weight: 200;
  text-align: center;
  padding: 10px 50px;
  font-size: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border: #ffffffbe solid 2px;
  border-radius: 0px;
  font-style: italic;
  font-weight: 200;
}
.hero .shop-now:hover {
  text-align: center;
  font-size: 1em;
  background-color: #ffffff4f;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* //////// featured/Top Picks //////// */
.featured-products {
  background-image: linear-gradient(to bottom, #fce7df, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  color: #1d262e;
  text-align: center;
  padding: 5%;
}
.featured-products .featured-products-heading{
  font-size: 2.2em;
  font-weight: 300;
}
.featured-products .featured-products-line{
  border-top: 2px solid #1d262e;
  width: 3.2%;
}
.featured-products .see-more {
  font-style: italic;
  text-align: center;
  font-weight: 200;
  padding: 10px 60px;
  font-size: 1em;
  background-color: transparent;
  color:#9e222c;
  border: none;
  cursor: pointer;
  /* text-decoration: none; */
  border: #9e222c solid 2px;
}
.featured-products .see-more:hover {
  text-decoration: none;
  background-color: #9e222c;
  color: #ffffff;
  cursor: pointer;
}
.featured-products .featured-products-container {
  /* display: block;
  justify-content: center;
  align-items: center; */
  justify-content: center;
  align-items: center;
  display: grid;
}
/*/////////////////// Product Card /////////////////*/
.preview-product-card {
  margin: auto auto 40px;
}
.preview-product-image-card {
  max-width: 98%;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #85091341;
  margin: 20px auto 30px; 
  /* border: 5px solid #ffffff; */
  /* display: grid;
  align-items: center; /* Vertically center 
  justify-content: center;
  text-align: center; */
  /* background-color: #f3f2f2; */
  /* width: 400px;
  height: 400px; */
  /* padding: 20px auto 30px; */
}
.painting-card-images {
  border-radius: 20px;
  max-width: 100%;
  /* width: auto; */
  /* overflow: hidden;
  border-radius: 10px; */
}
.preview-product-card  .Title {
  margin: auto;
  font-size: 1.6em; 
}
.preview-product-card  p {
  /* font-family: 'Didot';
  font-weight: bold; */
  font-style: italic;
  color:#9e222c;
  font-size: 1em;
}

/* //////// About me preview Section //////// */
.about-me {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 50px auto 50px;
  font-size: 1.5em;
}
.about-me .Aboutme-title{
  font-size: 1.8em;
  font-weight: 300;
}
.Aboutme-quote{
  max-width: 90%;
  margin-bottom: 1rem;
}
.Aboutme-info{
  text-align: center;
  max-width: 70%;
}
.divider{
  border-top: 2px solid #1d262e;
  width: 3.2%;
}
.Follow{
  /* text-decoration: none; */
  width: 100%;
  padding: 20px 0px 100px;
  background-image: linear-gradient(to bottom, #ffffff 5%, #f7f2f0 );
}
.Follow .insta{
  text-decoration: none;
  color: #9e222c;
}
/*//////////////////////// Product Page ////////////////////////*/
.products-page {
  color: #1d262e;
  text-align: center;
  padding: 4%;
}
.products-page .products-page-container {
  /* display: block;
  justify-content: center;
  align-items: center; */
  display: inline-grid;;
}
.products-page .products-page-heading{
  font-size: 2.8em;
  font-weight: 300;
}
.products-page .products-page-line{
  border-top: 2px solid #1d262e;
  width: 3.2%;
  padding-bottom: 1%;
}
/*  Product Card */
.product-card {
  margin: auto auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* padding: 0 50px; */
}
.product-card-image {
  margin: 20px auto;
  max-width: 100%;
}
.product-card-description {
  /* padding: 20px; */
  text-align: center;
  min-width: 100%;
}
.product-card  .Title {
  /* margin: 0; */
  font-size: 1.8em; 
  font-weight: 200;
}
.product-card  p {
  font-style: italic;
  color:#1d262e;
  font-size: 1em;
  margin: 10px auto;
  max-width: 80%;
}
.product-card  .red {
  font-style: italic;
  color:#9e222c;
  font-size: 1em;
  margin: 10px auto;
  max-width: 80%;
}
/* //////////////////// Pagination ////////////////// */
/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

/* Pagination links */
.pagination a {
  text-decoration: none;
  font-weight: 200;
  color: #fdeff0 !important;
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #9e222c;
  transition: background-color 0.3s;
  background-color: #9e222c;
  
  border-radius: 10px;
}

/* Active page link */
.pagination .active a {
  /* background-color: #ffffff2c; */
  backdrop-filter: blur(20px);
  background-color: #ff7d8e67;
  color: #9e222c !important;
}

/* Hover effect */
.pagination a:hover {
  background-color: #ff7d8e67;
  color: #9e222c;
  text-decoration: none;
}

/* Previous and next button styles */
.prev-button,
.next-button {
  display: inline-block;
  margin: 0 5px;
}
/* disabled button styles
.prev-button.disabled,
.next-button.disabled {
  pointer-events: none;
  color: #000000;
} */
/* //////////////////// Shop Page ////////////////// */
.Shop {
  position: relative; /* Ensure that the pseudo-element is positioned correctly */
  border-top: #ffffff 4px solid;
  border-bottom: #ffffff 4px solid;
  width: 100%;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  overflow: hidden;
}

.Shop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/sunrise.jpg');
  background-size: cover;
  background-position: 50% 15%;
  filter: blur(5px); /* Adjust the blur amount as needed */
  z-index: 0; /* Ensure the pseudo-element stays behind the content */
}


.Shop > * {
  position: relative;
  z-index: 1;
}
.Shop .shop-container {
  background-color: #f00f0f1c;
  backdrop-filter: blur(30px);
  color:#ffffffda;
  padding: 5% 100px;
  border: 3px solid #ffffffda;
  margin: 13% auto;
  width: 100%;
  border-radius: 50px;
  /* opacity: 0.1; */
}
/*f8fbfd*/
.Shop .Title {
  font-size: 3.2em;
  font-weight: 300;
  font-style: italic;
  margin:0px 0px 15px;
  border-radius: 55px;
}
.Shop p {
  font-size: 1.2em;
  margin:0px auto;
  font-weight: 200;
  font-style: italic;
}
.Shop img {
  margin: 20px 50px 0px;
  max-height: 50px;
  background-color: #f00f0f1c;
  border-radius: 25%;
}
.Shop img:hover {
  background-color: transparent;
  border-radius: 25%;
}


/* //////////////////// Inventory Page ////////////////// */
.inventory {
  align-items: center;
  display: flex;
  width: 80%;
  gap: 20px;
  margin: 20px;
}
/* Inventory Card */
.inventory-delete {
  color: #e71919;
}
.inventory-delete:hover {
  color: #ffffff;
  background-color: #f05959;
  border-color: #ffffff;
  cursor: pointer;
}
.inventory-card{
  width: 100%;
  padding: 20px;
  color: #333;
  border: 2px solid #000000;
}
.inventory-card .inventory-card-image{
  /* width: 400px; /* Adjust width as needed */
  /* height: 300px; Adjust height as needed */
  overflow: hidden;
  position: relative;
  border: 1px solid #ffffff; /* Optional border for visual clarity */
  border-radius: 8px; /* Optional rounded corners */
}
.inventory-card .inventory-card-image img{
    width: 100%;
    height: 100%;
    top: 0 !important;
    left: 0;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    position: absolute;
}
.add-item-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 2%;
  border: #000000 2px solid;
}
/* for smaller screens */
@media (max-width: 992px) {
  .navlink {
    font-size: 1.2rem; /* Adjust font size for medium screens */
  }
  .navbar  .navlink {
    font-size: 1.2rem;
  }
  .navitem {
    margin: 0 5%;
   }
  .hero .box {
    margin: 0% auto;
    backdrop-filter: blur(20px);
    padding: 7% 1%;
    width: 90%;
    font-size: 0.9em;
  }
  .preview-product-image-card{
    max-width: 330px;
  }
  .painting-card-images{
    max-width: 330px;
  }
  .about-me .Aboutme-title{
    font-size: 1.6em;
    font-weight: 200;
  }
  .footer-content {
    margin: 10px 15px;
  }
  .footer-icons {
    display: grid;
  }
  .footer-icons a {
    margin: 0; 
  }
  .footer-icons img {
    width: 38px; 
    margin-bottom: 5px;
  }
  .product-card {
    margin: auto auto 40px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .product-card-image {
    max-width: 340px;

  }
  .Shop .shop-container {
    padding: 4% 40px;
    border-radius: 50px;
    width: 85%;
  }

  .Shop img {
    margin: 20px 30px 15px;
  }
}
/* @media (max-width: 992px) {
  .navlink {
    font-size: 1.2rem;
  }
} */